<html>

<head>
    <link rel="stylesheet" href="poms.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron text-center">
        <h1>Welcome to the POMS APP(Week6)</h1>
    </div>
    <a type="button" class="btn btn-primary btn-lg" href="/">Home</a>&nbsp;&nbsp;&nbsp;
    <a type="button" class="btn btn-primary btn-lg" href="/newparcel">Add New Parcel</a>&nbsp;&nbsp;&nbsp;       
    <a type="button" class="btn btn-primary btn-lg" href="/selectgetparcel">List Parcels</a> &nbsp;&nbsp;&nbsp;    
    <a type="button" class="btn btn-primary btn-lg" href="/delparcel">Delete Parcel</a> &nbsp;&nbsp;&nbsp;      
    <a type="button" class="btn btn-primary btn-lg" href="/updateparcel">Update Parcel</a> &nbsp;&nbsp;&nbsp;      
    <div style="border-top: 1px solid #dddddd"></div>

    <h1>Delete Parcels</h1></br>
    <form action="/delparcelpost" method="POST">

        id: <input type="text"  name="id" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
    <p></p>
    
    <form action="/delparcelpostbysender" method="POST">

        sender: <input type="text"  name="sender" /> </br>
        <input type="submit" value="Submit" /> </br>
    </form>
    <p></p>

</body>

</html>